<header class="wrapper clearfix">
  <a class="page-title-link" href="index.html">
    <div class="logo">
      <img src="img/logo.gif" alt="Unilift" />
    </div>
    <h1 class="page-title"><span class="visuallyhidden">{{site.title}} - </span>{{site.description}}</h1>
  </a>
    <nav id="menu-main" class="menu menu-main menu-horizontal menu-dropdown clearfix">
      {{> menus/menu-main}}
      {{> modules/ajax-login}}
    </nav>
    <div class="tx-srlanguagemenu-pi1">
      <div class="cur"><a href="anbaugeraete/"><img src="http://www.unilift.de/fileadmin/templates/seitentemplate/img/de.gif" title="Deutsch" alt="Deutsch" class="tx-srlanguagemenu-pi1-flag"></a> <a href="anbaugeraete/">Deutsch</a></div>
      <div class="no"><a href="en/attachements/"><img src="http://www.unilift.de/fileadmin/templates/seitentemplate/img/en.gif" title="English" alt="English" class="tx-srlanguagemenu-pi1-flag"></a>   <a href="en/attachements/">English</a></div>
      <div class="no"><a href="pl/osprzet/"><img src="http://www.unilift.de/fileadmin/templates/seitentemplate/img/pl.gif" title="Polski" alt="Polski" class="tx-srlanguagemenu-pi1-flag"></a>   <a href="pl/osprzet/">Polski</a></div>
      <div class="no"><a href="it/attrezzatura/"><img src="http://www.unilift.de/fileadmin/templates/seitentemplate/img/it.gif" title="Italiano" alt="Italiano" class="tx-srlanguagemenu-pi1-flag"></a>   <a href="it/attrezzatura/">Italiano</a></div>
      <div class="no"><a href="es/equipamiento-esp/"><img src="http://www.unilift.de/fileadmin/templates/seitentemplate/img/es.gif" title="Español" alt="Español" class="tx-srlanguagemenu-pi1-flag"></a>   <a href="es/equipamiento-esp/">Español</a></div>
      <div class="no"><a href="ru/navesnoe-oborudovanie/"><img src="http://www.unilift.de/fileadmin/templates/seitentemplate/img/ru.gif" title="Русский" alt="Русский" class="tx-srlanguagemenu-pi1-flag"></a>   <a href="ru/navesnoe-oborudovanie/">Русский</a></div>
      <div class="no"><a href="fr/equip-supplementaire/"><img src="http://www.unilift.de/fileadmin/templates/seitentemplate/img/fr.gif" title="Français" alt="Français" class="tx-srlanguagemenu-pi1-flag"></a>   <a href="fr/equip-supplementaire/">Français</a></div>
      <div class="no"><a href="hu/tartozekok-es-kiegeszitok/"><img src="http://www.unilift.de/fileadmin/templates/seitentemplate/img/hu.gif" title="Magyar" alt="Magyar" class="tx-srlanguagemenu-pi1-flag"></a>   <a href="hu/tartozekok-es-kiegeszitok/">Magyar</a></div>
      <div class="no"><a href="ro/accesorii-si-atasamente/"><img src="http://www.unilift.de/fileadmin/templates/seitentemplate/img/ro.gif" title="Română" alt="Română" class="tx-srlanguagemenu-pi1-flag"></a>   <a href="ro/accesorii-si-atasamente/">Română</a></div>
    </div>
</header>
