<div class="ajaxOuter"><div class="ajaxLoginWrapper"><h3 class="icon-user trigger">Händler-Login</h3>
<div class="box" id="c4410">


  <div id="ajaxlogin">


  <div class="tx-ajaxlogin-widget">

      <form id="tx-ajaxlogin-form36201b1c9914b3e71496017ad3cb34e5" action="" method="post" name="login">
        <legend>Bitte melden Sie sich an</legend>

        <div class="b-form-row">
          <label for="user">
            Passwort
          </label>
          <div class="b-form-inputs">
            <input type="password" id="user" name="user" value="">
          </div>
        </div>
        <div class="b-form-row">
          <div class="b-form-inputs">
            <input type="hidden" id="pass" name="pass" value="demo">
          </div>
        </div>

        <div class="b-form-row permalogin" style="display:none;">
        <div class="b-form-inputs">
          <input name="permalogin" value="1" type="checkbox" id="permalogin">
          </div>
          <label for="permalogin">Angemeldet bleiben</label>
        </div>

        <div class="b-form-row">
          <button type="submit" name="submit" value="Login" class="bu bu-mini">
          Login
        </button>
        </div>

      </form>

    </div>

  </div>


</div></div></div>
