<div class="module-paginate">
  <p>Seite 1 von 3.</p>
  <ul class="paginate-items">
    <li class="paginate-item paginate-current-item paginate-first-item">
        <span>1</span>
    </li>
    <li class="paginate-item">
        <a href="#" class="paginate-link" title="Page 2">2</a>
    </li>
    <li class="paginate-item">
        <a href="#" class="paginate-link" title="Page 3">3</a>
    </li>
    <li class="paginate-item">
        <a href="#" class="paginate-link" title="Page 4">4</a>
    </li>
    <li class="paginate-item">
        <a href="#" class="paginate-link" title="Page 5">5</a>
    </li>
    <li class="paginate-item paginate-last-item">
        <a href="#" class="paginate-link" title="Last Page">&gt;</a>
    </li>
  </ul>
</div>
