<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<html>

{{> head}}
<body class="homepage be-layout-2-1">

  {{> mobile/mobile-bar}}
  {{> menus/menu-mobile}}

  <div id="page" class="page">

  {{> header}}

  <main id="content" class="content clearfix">
    <section class="col col-main col0">


    </section><!-- col0 -->

    <section class="col col-aside col2">

      <div class="box">
        <div class="rtp">
          <h2 class="headline">Aktuelle Händlerliste</h2>
          <div class="text-wrap">
            <p>Unsere aktuelle Bestandsliste zum Herunterladen in kompaktem PDF-Format mit Fotos.</p>
            <p><a href="#">Bestandsliste herunterladen</a></p>
          </div>
        </div>
      </div>

    </section>

  </main>
   {{> footer/footer}}
  </div>

  {{> footer/footer-libs}}
</body>
</html>
