<div class="responsiveTextpic rtp aboveText original large hasHeadline cf clearfix">
   <h1 class="headline">Über dem Text - Orginalformat - Groß</h1>
   <div class="figureWrap">
      <figure>
         <img alt="" src="microsites/konferenz/Bilder_Reise/barcelona.jpg" width="500" height="335">
      </figure>
      <figure>
         <img alt="" src="microsites/konferenz/Bilder_Reise/berlin.PNG" width="840" height="309">
      </figure>
      <figure>
         <img alt="" src="microsites/konferenz/Bilder_Reise/holland.PNG" width="428" height="280">
      </figure>
      <figure>
         <img alt="" src="microsites/konferenz/Bilder_Reise/muenchen.PNG" width="514" height="338">
      </figure>
      <figure>
         <img alt="" src="microsites/konferenz/Bilder_Reise/paris.PNG" width="392" height="267">
      </figure>
      <figure>
         <img alt="" src="microsites/konferenz/Bilder_Reise/rom.PNG" width="621" height="286">
      </figure>
   </div>
   <div class="textWrap">
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
   </div>
</div>
