<div class="box ruler-after">
  <div class="responsiveTextpic rtp besideTextLeft leftRight imgLeft besideText hasHeadline cf clearfix">
    <h4 class="headline">Frank Jenszöwski</h4>
    <div class="figureWrap">
      <figure>
        <img alt="" src="img/Albert_Einstein.jpg" width="1400" height="1050">
      </figure>
    </div>
    <div class="textWrap">
      <p>Geschäftsführung</p>
      <p>Tel.: +49 (0) 33 78 - 80 52-20</p>
      <p><a href="#">E-mail senden</a></p>
    </div>
  </div>
</div>

<div class="box ruler-after">
  <div class="responsiveTextpic rtp besideTextLeft leftRight imgLeft besideText hasHeadline cf clearfix">
    <h4 class="headline">Frank Jenszöwski</h4>
    <div class="figureWrap">
      <figure>
        <img alt="" src="img/Albert_Einstein.jpg">
      </figure>
    </div>
    <div class="textWrap">
      <p>Geschäftsführung</p>
      <p>Tel.: +49 (0) 33 78 - 80 52-20</p>
      <p><a href="#">E-mail senden</a></p>
    </div>
  </div>
</div>
