<footer id="footer" class="page-footer clearfix">
  <div class="col col-footer-0">
    <p>Letzte Aktualisierung: 01.01.2016</p>
    <p class="bodytext"><b>UNILIFT GmbH &amp; Co.KG</b><br>Robert-Bosch-Str. 9 | 14974 Ludwigsfelde bei Berlin | Deutschland<br><b>Telefon: +49 (0) 3378 - 80 52-0 | Telefax:+49 (0) 3378 - 80 52-72</b></p>
  </div>
  <div class="col col-footer-1">
    <nav class="menu menu-footer">
      {{> menus/menu-meta}}
    </nav>
  </div>
</footer>
