<div id="mobile-bar" class="mobile-bar">
  <!--
  <nav class="navLang" id="navLangMobil">
    <ul class="ukNav">
      <li class=" cur act"><span><img src="assets/img/lang/de2.png" width="24" height="24" alt=""></span>
      </li>
      <li class="">
        <a href="index.php?id=1&amp;L=1" title="show this page in English"><img src="assets/img/lang/gb2.png" width="24" height="24" alt="">
        </a>
      </li>
    </ul>
  </nav>
  <nav class="navMeta horizontal">
    <ul class="ukNav">
      <li class="p12"><a href="index.php?id=12">Login</a>
      </li>
    </ul>
  </nav>
-->
  <div class="mButton mobile-menu-button active" role="button" aria-expanded="true" aria-controls="menu-mobile" id="mobile-menu-button"><span>Menu</span>
  </div>
</div>
