/* MOBILE ONLY
/* ============================================== */
/* ============================================== */

.menu-mobile {
  border-width: 1px;
  border-style: solid;
  display: none;
}

.menu-mobile.open {
  display: block;
  position: fixed;
  top: $mobile-bar-height-sm;
  @media screen and (min-width: $breakpoint-sm) {
    top: $mobile-bar-height-md;
  }
  right: 0;
  bottom: 0;
  width: 90%;
  z-index: 1100;
  overflow-y: scroll;
}
.menu-mobile ul,
.menu-mobile .menu-link {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu-mobile .menu-item {
  border-top-style: solid;
  border-top-width: 1px;
}
.menu-mobile .menu-item {
  position: relative
}
/*.menu-mobile .menu-level-1>li:last-child { border-bottom-width:1px; border-bottom-style: solid;}*/
/*.menu-mobile i { padding:.3em .6em}*/

$default-mobile-menu-link-top-padding: .3em;
.menu-mobile .menu-link {
  padding: $default-mobile-menu-link-top-padding .6em $default-mobile-menu-link-top-padding 1em;
}
.menu-mobile .menu-has-sub>a {
  margin-right: 2.1em;
}
.menu-mobile i {
  font-weight: bold;
  width: 2.1em;
  display: inline-block;
  position: absolute;
  padding: $default-mobile-menu-link-top-padding;
  right: 0;
  top: 0;
  text-align: center;
  font-style: normal;
}
.menu-mobile i:before {
  content: "+"
}
.menu-mobile .expanded > i:before {
  content: "–"
}
.menu-mobile li:before {
  left: .5em;
  line-height: 1em;
}
.menu-mobile .menu-level-2 a {
  padding-left: 2.5em;
}
.menu-mobile .menu-level-2 li:before {
  left: 2em;
}
.menu-mobile .menu-level-3 a {
  padding-left: 5em;
}
.menu-mobile .menu-level-3 li:before {
  left: 4.5em;
}
.menu-mobile .menu-level-4 a {
  padding-left: 7em;
}
.menu-mobile .menu-level-4 li:before {
  left: 6.5em;
}

/* Mobile Bar
/* ============================================== */
/* mobileButtons */

.mobile-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  text-align: right;
  box-shadow: 0 0 .8em;
  line-height: $mobile-bar-line-height-sm;

  @media screen and (min-width: $breakpoint-sm) {
    line-height: $mobile-bar-line-height-md;
  }
  @media screen and (min-width: $breakpoint-md) {
    display: none;
  }
}

.menu-mobile-active .mobile-bar,
.scrolledUp .mobile-bar {
  position: fixed;
}
.menu-mobile-active body {
  overflow: hidden;
}
.mobile-bar>* {
  text-align: left;
  margin-left: 1em;
}
.mobile-bar nav a {
  margin: 0;
}

.mButton {
  display: inline-block;
  color: #fff;
  width: 3em;
  text-align: center;
}
.mobile-menu-button {
  float: right;
  position: relative;
  display: inline-block;
  font-size: inherit;
  line-height: inherit;
  margin-right: 1em;
}
/*
.searchBox.iconOnly button span:after, .mobileSearchButton span:after, .mobile-menu-button span:after {content:'\e80b'; position:absolute; top:0; right:1em; text-indent:0;  display:block; line-height:1em; font-size:inherit; margin:0; text-align:center; box-sizing:border-box; }

.mobile-menu-button span:after {
  content: '\2261';
  position: absolute;
  top: 0;
  right: 0;
  text-indent: 0;
  display: block;
  line-height: 1em;
  font-size: inherit;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
}
.mobile-menu-button span:after {
  height: 2em;
  display: block;
}
*/
